In [3]:
import warnings

warnings.filterwarnings("ignore")
import sys  
sys.path.insert(0, 'C://Users//Adminn//Downloads')
%matplotlib inline
import mainl_final_with_correct_map_score as hltv
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import signal
import numpy as np
import calendar
import datetime
import requests

In [4]:
all_matches=pd.DataFrame(hltv.get_results())

In [3]:
pd.DataFrame(hltv.top30teams())

,name,rank,rank-points,team-id,team-url,stats-url,team-players
0,Heroic,1,982,7175,https://hltv.org/team/7175/Heroic,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Casper 'cadiaN' Møller', 'player-id..."
1,G2,2,865,5995,https://hltv.org/team/5995/G2,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Nikola 'NiKo' Kovač', 'player-id': ..."
2,Liquid,3,797,5973,https://hltv.org/team/5973/Liquid,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Nick 'nitr0' Cannella', 'player-id'..."
3,FaZe,4,788,6667,https://hltv.org/team/6667/FaZe,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Finn 'karrigan' Andersen', 'player-..."
4,Outsiders,5,736,11595,https://hltv.org/team/11595/Outsiders,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Evgenii 'FL1T' Lebedev', 'player-id..."
5,FURIA,6,569,8297,https://hltv.org/team/8297/FURIA,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Andrei 'arT' Piovezan', 'player-id'..."
6,MOUZ,7,556,4494,https://hltv.org/team/4494/MOUZ,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Christopher 'dexter' Nong', 'player..."
7,Cloud9,8,504,5752,https://hltv.org/team/5752/Cloud9,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Abay 'HObbit' Khasenov', 'player-id..."
8,Natus Vincere,9,482,4608,https://hltv.org/team/4608/Natus Vincere,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Oleksandr 's1mple' Kostyliev', 'pla..."
9,fnatic,10,418,4991,https://hltv.org/team/4991/fnatic,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Freddy 'KRIMZ' Johansson', 'player-..."
10,Vitality,11,408,9565,https://hltv.org/team/9565/Vitality,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Dan 'apEX' Madesclaire', 'player-id..."
11,OG,12,343,10503,https://hltv.org/team/10503/OG,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Nemanja 'nexa' Isaković', 'player-i..."
12,Spirit,13,315,7020,https://hltv.org/team/7020/Spirit,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Leonid 'chopper' Vishnyakov', 'play..."
13,ENCE,14,267,4869,https://hltv.org/team/4869/ENCE,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Marco 'Snappi' Pfeiffer', 'player-i..."
14,BIG,15,244,7532,https://hltv.org/team/7532/BIG,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Johannes 'tabseN' Wodarz', 'player-..."
15,Ninjas in Pyjamas,16,228,4411,https://hltv.org/team/4411/Ninjas in Pyjamas,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Fredrik 'REZ' Sterner', 'player-id'..."
16,Bad News Eagles,17,157,11518,https://hltv.org/team/11518/Bad News Eagles,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Rigon 'rigoN' Gashi', 'player-id': ..."
17,Astralis,18,128,6665,https://hltv.org/team/6665/Astralis,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Andreas 'Xyp9x' Højsleth', 'player-..."
18,Sprout,19,124,8637,https://hltv.org/team/8637/Sprout,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Adrian 'XELLOW' Guță', 'player-id':..."
19,SAW,20,86,10567,https://hltv.org/team/10567/SAW,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Christopher 'MUTiRiS' Fernandes', '..."
20,GamerLegion,21,81,9928,https://hltv.org/team/9928/GamerLegion,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Frederik 'acoR' Gyldstrand', 'playe..."
21,500,22,77,12000,https://hltv.org/team/12000/500,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Nikolay 'niki1' Pantaleev', 'player..."
22,Complexity,23,72,5005,https://hltv.org/team/5005/Complexity,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Johnny 'JT' Theodosiou', 'player-id..."
23,Copenhagen Flames,24,69,7461,https://hltv.org/team/7461/Copenhagen Flames,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Rasmus 'raalz' Steensborg', 'player..."
24,paiN,25,64,4773,https://hltv.org/team/4773/paiN,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Vinicios 'PKL' Coelho', 'player-id'..."
25,9z,26,60,9996,https://hltv.org/team/9996/9z,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Maximiliano 'max' Gonzalez', 'playe..."
26,IHC,27,59,11585,https://hltv.org/team/11585/IHC,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Bat-Enkh 'kabal' Batbayar', 'player..."
27,Movistar Riders,28,57,7718,https://hltv.org/team/7718/Movistar Riders,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Alejandro 'alex' Masanet', 'player-..."
28,Grayhound,29,56,8008,https://hltv.org/team/8008/Grayhound,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Simon 'Sico' Williams', 'player-id'..."
29,MIBR,30,53,9215,https://hltv.org/team/9215/MIBR,https://www.hltv.org/ranking/teams/2023/januar...,"[{'name': 'Henrique 'HEN1' Teles', 'player-id'..."

In [8]:
all_matches

,url,match-id,date,event,team1,team1score,team1-id,team2,team2-id,team2score
0,https://hltv.org/matches/2359833/ence-vs-vital...,2359833,2022-11-07,IEM Rio Major 2022,ENCE,2,4869,Vitality,9565,0
1,https://hltv.org/matches/2359834/big-vs-fnatic...,2359834,2022-11-07,IEM Rio Major 2022,BIG,0,7532,fnatic,4991,2
2,https://hltv.org/matches/2359832/mouz-vs-outsi...,2359832,2022-11-07,IEM Rio Major 2022,MOUZ,0,4494,Outsiders,11595,2
3,https://hltv.org/matches/2359831/natus-vincere...,2359831,2022-11-07,IEM Rio Major 2022,Natus Vincere,2,4608,Bad News Eagles,11518,0
4,https://hltv.org/matches/2359830/sprout-vs-nin...,2359830,2022-11-07,IEM Rio Major 2022,Sprout,2,8637,Ninjas in Pyjamas,4411,0
...,...,...,...,...,...,...,...,...,...,...
895,https://hltv.org/matches/2354398/astralis-vs-g...,2354398,2022-02-20,IEM Katowice 2022,Astralis,1,6665,G2,5995,2
896,https://hltv.org/matches/2354396/gambit-vs-nin...,2354396,2022-02-20,IEM Katowice 2022,Gambit,2,6651,Ninjas in Pyjamas,4411,0
897,https://hltv.org/matches/2354397/heroic-vs-vir...,2354397,2022-02-20,IEM Katowice 2022,Heroic,2,7175,Virtus.pro,5378,0
898,https://hltv.org/matches/2354395/g2-vs-furia-i...,2354395,2022-02-20,IEM Katowice 2022,G2,2,5995,FURIA,8297,1
899,https://hltv.org/matches/2354394/astralis-vs-f...,2354394,2022-02-20,IEM Katowice 2022,Astralis,2,6665,fnatic,4991,1

In [10]:
all_try = pd.concat([all_matches.head(20),res_maps],axis=1, join="inner")

In [9]:
%%time
res_maps=pd.DataFrame(hltv.get_maps_inf_from_match(all_matches['match-id'].head(20)))

Wall time: 57.9 s

In [34]:
%%time
res_matches=pd.DataFrame(hltv.get_match_inf(all_matches.match_id.head(20)))

Wall time: 26.3 s

In [48]:
matches=[2359845,2359846]

In [35]:
res_maps

,match_id,url_of_map_1,team1score_t_on_map_1,team1score_ct_on_map_1,team2score_t_on_map_1,team2score_ct_on_map_1,1_feature_value_on_map_1,1_feature_name_on_map_1,2_feature_value_on_map_1,2_feature_name_on_map_1,...,team1score_t_on_map_3,team1score_ct_on_map_3,team2score_t_on_map_3,team2score_ct_on_map_3,1_feature_value_on_map_3,1_feature_name_on_map_3,2_feature_value_on_map_3,2_feature_name_on_map_3,3_feature_value_on_map_3,3_feature_name_on_map_3
0,2359833,https://hltv.org/stats/matches/mapstatsid/1466...,7,9,6,6,1.13 : 0.94,Team rating,16 : 12,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2359834,https://hltv.org/stats/matches/mapstatsid/1466...,8,6,9,7,0.88 : 1.25,Team rating,11 : 19,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2359832,https://hltv.org/stats/matches/mapstatsid/1466...,1,9,6,10,0.75 : 1.26,Team rating,8 : 18,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2359831,https://hltv.org/stats/matches/mapstatsid/1466...,4,12,3,0,1.61 : 0.49,Team rating,13 : 6,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2359830,https://hltv.org/stats/matches/mapstatsid/1466...,6,10,5,6,1.15 : 0.92,Team rating,17 : 10,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2359829,https://hltv.org/stats/matches/mapstatsid/1466...,7,9,6,3,1.25 : 0.78,Team rating,14 : 11,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2359828,https://hltv.org/stats/matches/mapstatsid/1466...,9,6,9,6,1.02 : 1.08,Team rating,17 : 18,First kills,...,4.0,11.0,4.0,11.0,1.02 : 1.04,Team rating,23 : 19,First kills,1 : 1,Clutches won
7,2359827,https://hltv.org/stats/matches/mapstatsid/1466...,5,4,11,5,0.77 : 1.40,Team rating,10 : 15,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2359825,https://hltv.org/stats/matches/mapstatsid/1466...,9,5,10,6,1.02 : 1.01,Team rating,13 : 17,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2359826,https://hltv.org/stats/matches/mapstatsid/1465...,1,6,9,7,0.71 : 1.40,Team rating,9 : 14,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2359824,https://hltv.org/stats/matches/mapstatsid/1465...,8,7,8,7,0.98 : 1.02,Team rating,18 : 18,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2359823,https://hltv.org/stats/matches/mapstatsid/1465...,2,12,3,13,0.98 : 1.04,Team rating,16 : 14,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2359822,https://hltv.org/stats/matches/mapstatsid/1465...,5,7,8,8,0.89 : 1.16,Team rating,12 : 16,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2359821,https://hltv.org/stats/matches/mapstatsid/1465...,3,13,2,0,1.61 : 0.50,Team rating,13 : 5,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2359820,https://hltv.org/stats/matches/mapstatsid/1465...,4,12,3,4,1.43 : 0.69,Team rating,15 : 8,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2359819,https://hltv.org/stats/matches/mapstatsid/1465...,2,11,4,12,1.01 : 1.09,Team rating,13 : 16,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2359818,https://hltv.org/stats/matches/mapstatsid/1465...,6,8,7,9,0.99 : 1.11,Team rating,12 : 18,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2359817,https://hltv.org/stats/matches/mapstatsid/1465...,3,3,12,4,0.71 : 1.29,Team rating,10 : 12,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2359815,https://hltv.org/stats/matches/mapstatsid/1465...,3,2,13,3,0.82 : 1.30,Team rating,10 : 11,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2359816,https://hltv.org/stats/matches/mapstatsid/1465...,2,5,10,6,0.72 : 1.36,Team rating,7 : 16,First kills,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
res_matches

,match_id,team1score_ct_on_map_1,team1score_t_on_map_1,team2score_ct_on_map_1,team2score_t_on_map_1,name_of_map_1,team1score_ct_on_map_2,team1score_t_on_map_2,team2score_ct_on_map_2,team2score_t_on_map_2,name_of_map_2,team1score_ct_on_map_3,team1score_t_on_map_3,team2score_ct_on_map_3,team2score_t_on_map_3,name_of_map_3
0,2359833,9,7,6,6,Vertigo,6.0,9.0,6.0,9.0,Nuke,NaN,NaN,NaN,NaN,NaN
1,2359834,6,8,7,9,Overpass,5.0,2.0,6.0,10.0,Mirage,NaN,NaN,NaN,NaN,NaN
2,2359832,9,1,10,6,Overpass,8.0,2.0,9.0,7.0,Inferno,NaN,NaN,NaN,NaN,NaN
3,2359831,12,4,0,3,Ancient,8.0,8.0,2.0,7.0,Nuke,NaN,NaN,NaN,NaN,NaN
4,2359830,10,6,6,5,Vertigo,8.0,8.0,7.0,7.0,Ancient,NaN,NaN,NaN,NaN,NaN
5,2359829,9,7,3,6,Nuke,12.0,4.0,3.0,3.0,Vertigo,NaN,NaN,NaN,NaN,NaN
6,2359828,6,9,6,9,Vertigo,10.0,6.0,3.0,5.0,Nuke,11.0,4.0,11.0,4.0,Mirage
7,2359827,4,5,5,11,Vertigo,8.0,1.0,9.0,7.0,Inferno,NaN,NaN,NaN,NaN,NaN
8,2359825,5,9,6,10,Dust2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2359826,6,1,7,9,Nuke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2359824,7,8,7,8,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2359823,12,2,13,3,Ancient,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2359822,7,5,8,8,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2359821,13,3,0,2,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2359820,12,4,4,3,Ancient,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2359819,11,2,12,4,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2359818,8,6,9,7,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2359817,3,3,4,12,Inferno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2359815,2,3,3,13,Inferno,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2359816,5,2,6,10,Mirage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,match_id,team1score_ct_on_map_1,team1score_t_on_map_1,team2score_ct_on_map_1,team2score_t_on_map_1,name_of_map_1,team1score_ct_on_map_2,team1score_t_on_map_2,team2score_ct_on_map_2,team2score_t_on_map_2,name_of_map_2,team1score_ct_on_map_3,team1score_t_on_map_3,team2score_ct_on_map_3,team2score_t_on_map_3,name_of_map_3
0,2359845,6,0,7,9,Inferno,10,5,10,5,Ancient,10.0,6.0,0.0,5.0,Nuke
1,2359846,8,8,5,7,Mirage,12,4,2,3,Overpass,NaN,NaN,NaN,NaN,NaN

In [80]:
str(res['team1score_on_map_1'][0]) =="['t-color']"

True

In [7]:
all_try

,url,match_id,date,event,team1,team1score,team1_id,team2,team2_id,team2score,...,team1score_t_on_map_3,team1score_ct_on_map_3,team2score_t_on_map_3,team2score_ct_on_map_3,1_feature_value_on_map_3,1_feature_name_on_map_3,2_feature_value_on_map_3,2_feature_name_on_map_3,3_feature_value_on_map_3,3_feature_name_on_map_3
0,https://hltv.org/matches/2359833/ence-vs-vital...,2359833,2022-11-07,IEM Rio Major 2022,ENCE,2,4869,Vitality,9565,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://hltv.org/matches/2359834/big-vs-fnatic...,2359834,2022-11-07,IEM Rio Major 2022,BIG,0,7532,fnatic,4991,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://hltv.org/matches/2359832/mouz-vs-outsi...,2359832,2022-11-07,IEM Rio Major 2022,MOUZ,0,4494,Outsiders,11595,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://hltv.org/matches/2359831/natus-vincere...,2359831,2022-11-07,IEM Rio Major 2022,Natus Vincere,2,4608,Bad News Eagles,11518,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://hltv.org/matches/2359830/sprout-vs-nin...,2359830,2022-11-07,IEM Rio Major 2022,Sprout,2,8637,Ninjas in Pyjamas,4411,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://hltv.org/matches/2359829/furia-vs-big-...,2359829,2022-11-06,IEM Rio Major 2022,FURIA,2,8297,BIG,7532,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,https://hltv.org/matches/2359828/faze-vs-bad-n...,2359828,2022-11-06,IEM Rio Major 2022,FaZe,1,6667,Bad News Eagles,11518,2,...,4.0,11.0,4.0,11.0,1.02 : 1.04,Team rating,23 : 19,First kills,1 : 1,Clutches won
7,https://hltv.org/matches/2359827/heroic-vs-clo...,2359827,2022-11-06,IEM Rio Major 2022,Heroic,0,7175,Cloud9,5752,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,https://hltv.org/matches/2359825/spirit-vs-out...,2359825,2022-11-06,IEM Rio Major 2022,Spirit,14,7020,Outsiders,11595,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,https://hltv.org/matches/2359826/ence-vs-fnati...,2359826,2022-11-06,IEM Rio Major 2022,ENCE,7,4869,fnatic,4991,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,https://hltv.org/matches/2359824/mouz-vs-vital...,2359824,2022-11-06,IEM Rio Major 2022,MOUZ,19,4494,Vitality,9565,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,https://hltv.org/matches/2359823/natus-vincere...,2359823,2022-11-06,IEM Rio Major 2022,Natus Vincere,14,4608,Liquid,5973,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,https://hltv.org/matches/2359822/ninjas-in-pyj...,2359822,2022-11-06,IEM Rio Major 2022,Ninjas in Pyjamas,12,4411,Outsiders,11595,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,https://hltv.org/matches/2359821/heroic-vs-fna...,2359821,2022-11-06,IEM Rio Major 2022,Heroic,16,7175,fnatic,4991,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,https://hltv.org/matches/2359820/ence-vs-bad-n...,2359820,2022-11-06,IEM Rio Major 2022,ENCE,16,4869,Bad News Eagles,11518,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,https://hltv.org/matches/2359819/spirit-vs-fur...,2359819,2022-11-06,IEM Rio Major 2022,Spirit,13,7020,FURIA,8297,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,https://hltv.org/matches/2359818/natus-vincere...,2359818,2022-11-06,IEM Rio Major 2022,Natus Vincere,14,4608,Cloud9,5752,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,https://hltv.org/matches/2359817/faze-vs-vital...,2359817,2022-11-06,IEM Rio Major 2022,FaZe,6,6667,Vitality,9565,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,https://hltv.org/matches/2359815/sprout-vs-liq...,2359815,2022-11-05,IEM Rio Major 2022,Sprout,5,8637,Liquid,5973,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,https://hltv.org/matches/2359816/mouz-vs-big-i...,2359816,2022-11-05,IEM Rio Major 2022,MOUZ,7,4494,BIG,7532,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
all_try.describe()

,match_id,team1score,team1_id,team2_id,team2score,match_id,team1score_t_on_map_1,team1score_ct_on_map_1,team2score_t_on_map_1,team2score_ct_on_map_1,team1score_t_on_map_2,team1score_ct_on_map_2,team2score_t_on_map_2,team2score_ct_on_map_2,team1score_t_on_map_3,team1score_ct_on_map_3,team2score_t_on_map_3,team2score_ct_on_map_3
count,2.000000e+01,20.000000,20.0000,20.000000,20.000000,2.000000e+01,20.000000,20.000000,20.000000,20.000000,8.000000,8.000000,8.000000,8.000000,1.0,1.0,1.0,1.0
mean,2.359824e+06,7.600000,6057.5500,8211.450000,8.900000,2.359824e+06,4.750000,7.800000,7.200000,6.100000,8.125000,5.000000,5.625000,6.875000,4.0,11.0,4.0,11.0
std,5.916080e+00,6.467734,1558.9447,2726.559302,7.531687,5.916080e+00,2.633289,3.221637,3.221637,3.370148,2.167124,3.162278,2.722263,2.167124,NaN,NaN,NaN,NaN
min,2.359815e+06,0.000000,4411.0000,4411.000000,0.000000,2.359815e+06,1.000000,2.000000,2.000000,0.000000,5.000000,1.000000,2.000000,3.000000,4.0,11.0,4.0,11.0
25%,2.359820e+06,2.000000,4608.0000,5752.000000,2.000000,2.359820e+06,2.750000,5.750000,4.750000,4.000000,7.500000,2.000000,3.000000,6.500000,4.0,11.0,4.0,11.0
50%,2.359824e+06,6.500000,5768.0000,7914.500000,11.500000,2.359824e+06,4.500000,7.500000,7.500000,6.000000,8.000000,5.000000,6.000000,7.000000,4.0,11.0,4.0,11.0
75%,2.359829e+06,14.000000,7175.0000,11518.000000,16.000000,2.359829e+06,7.000000,10.250000,9.250000,7.250000,8.500000,8.000000,7.500000,7.500000,4.0,11.0,4.0,11.0
max,2.359834e+06,19.000000,8637.0000,11595.000000,17.000000,2.359834e+06,9.000000,13.000000,13.000000,13.000000,12.000000,9.000000,9.000000,10.000000,4.0,11.0,4.0,11.0

In [8]:
all_try['team_1_won'] = 0
for x in range(len(all_try)):
    if (all_try.team1score[x] >= 15 and all_try.team1score[x] > all_try.team2score[x]): 
        all_try.loc[x, ['team1score']] = [1]
        all_try.loc[x, ['team2score']] = [0]
        
    elif (all_try.team2score[x] >= 15):
        all_try.loc[x, ['team1score']] = [0]
        all_try.loc[x, ['team2score']] = [1]
    if(all_try.team1score[x] > all_try.team2score[x]):
        all_try.loc[x, ['team_1_won']] = [1]

In [114]:
all_try.loc[3, ['team1score']] = [65]

In [66]:
all_try.columns

Index(['url', 'match_id', 'date', 'event', 'team1', 'team1score', 'team1_id',
       'team2', 'team2_id', 'team2score', 'match_id', 'url_of_map_1',
       'team1score_t_on_map_1', 'team1score_ct_on_map_1',
       'team2score_t_on_map_1', 'team2score_ct_on_map_1',
       '1_feature_value_on_map_1', '1_feature_name_on_map_1',
       '2_feature_value_on_map_1', '2_feature_name_on_map_1',
       '3_feature_value_on_map_1', '3_feature_name_on_map_1', 'url_of_map_2',
       'team1score_t_on_map_2', 'team1score_ct_on_map_2',
       'team2score_t_on_map_2', 'team2score_ct_on_map_2',
       '1_feature_value_on_map_2', '1_feature_name_on_map_2',
       '2_feature_value_on_map_2', '2_feature_name_on_map_2',
       '3_feature_value_on_map_2', '3_feature_name_on_map_2', 'url_of_map_3',
       'team1score_t_on_map_3', 'team1score_ct_on_map_3',
       'team2score_t_on_map_3', 'team2score_ct_on_map_3',
       '1_feature_value_on_map_3', '1_feature_name_on_map_3',
       '2_feature_value_on_map_3', '2_feature_name_on_map_3',
       '3_feature_value_on_map_3', '3_feature_name_on_map_3', 'team_1_won'],
      dtype='object')

In [125]:
all_try[['1_feature_value_on_map_1', '1_feature_name_on_map_1',
       '2_feature_value_on_map_1', '2_feature_name_on_map_1',
       '3_feature_value_on_map_1', '3_feature_name_on_map_1']]

,1_feature_value_on_map_1,1_feature_name_on_map_1,2_feature_value_on_map_1,2_feature_name_on_map_1,3_feature_value_on_map_1,3_feature_name_on_map_1
0,1.13 : 0.94,Team rating,16 : 12,First kills,2 : 1,Clutches won
1,0.88 : 1.25,Team rating,11 : 19,First kills,3 : 0,Clutches won
2,0.75 : 1.26,Team rating,8 : 18,First kills,1 : 0,Clutches won
3,1.61 : 0.49,Team rating,13 : 6,First kills,1 : 2,Clutches won
4,1.15 : 0.92,Team rating,17 : 10,First kills,2 : 3,Clutches won
5,1.25 : 0.78,Team rating,14 : 11,First kills,0 : 2,Clutches won
6,1.02 : 1.08,Team rating,17 : 18,First kills,2 : 3,Clutches won
7,0.77 : 1.40,Team rating,10 : 15,First kills,2 : 3,Clutches won
8,1.02 : 1.01,Team rating,13 : 17,First kills,0 : 1,Clutches won
9,0.71 : 1.40,Team rating,9 : 14,First kills,3 : 1,Clutches won
10,0.98 : 1.02,Team rating,18 : 18,First kills,0 : 1,Clutches won
11,0.98 : 1.04,Team rating,16 : 14,First kills,1 : 1,Clutches won
12,0.89 : 1.16,Team rating,12 : 16,First kills,2 : 2,Clutches won
13,1.61 : 0.50,Team rating,13 : 5,First kills,2 : 0,Clutches won
14,1.43 : 0.69,Team rating,15 : 8,First kills,1 : 1,Clutches won
15,1.01 : 1.09,Team rating,13 : 16,First kills,0 : 3,Clutches won
16,0.99 : 1.11,Team rating,12 : 18,First kills,0 : 2,Clutches won
17,0.71 : 1.29,Team rating,10 : 12,First kills,0 : 3,Clutches won
18,0.82 : 1.30,Team rating,10 : 11,First kills,1 : 3,Clutches won
19,0.72 : 1.36,Team rating,7 : 16,First kills,2 : 1,Clutches won

In [9]:
all_try[['team_1_won','team1score','team2score']]

    team_1_won  team1score  team2score
0            1           2           0
1            0           0           2
2            0           0           2
3            1           2           0
4            1           2           0
5            1           2           0
6            0           1           2
7            0           0           2
8            0           0           1
9            0           0           1
10           1           1           0
11           0           0           1
12           0           0           1
13           1           1           0
14           1           1           0
15           0           0           1
16           0           0           1
17           0           0           1
18           0           0           1
19           0           0           1

In [15]:
st = all_try.date

In [10]:
sr = "Results for November 28th 2022"

In [23]:
st = st.replace("-", " ")

In [16]:
%%time
urls=[]
days=[]
n=0
for x in range(len(data)):
    
    sep_numbers = data.date[x].split('-')
    calendar.month_name[int(sep_numbers[1])]
    url = "https://www.hltv.org/ranking/teams/{}/{}".format(sep_numbers[0],calendar.month_name[int(sep_numbers[1])].lower())
    day = int(sep_numbers[2])
    days.append(day)
    urls.append(url)

Wall time: 997 µs

In [42]:
%%time
n=0
j=1
while requests.get("{}/{}".format(urls[0],j)).status_code != 200:
    j+=1
    final_url = "{}/{}".format(site,j)

for x in range(1,len(urls)):
    
    if urls[x] != urls[x-1]:
        j=1
        while requests.get("{}/{}".format(urls[x],j)).status_code != 200:
            j+=1
        final_url = "{}/{}".format(urls[x],j)
        "если нужно поменять страницу для парсинга, то писать сюда какую. Если в иф не войдёт, то не нужно будет заново парсить уже существующую"
    print(final_url)
    print("x is " + str(x) + ', j is '+ str(j))
        

    
        
        
    n+=1

https://www.hltv.org/ranking/teams/2022/november/7
x is 1, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 2, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 3, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 4, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 5, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 6, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 7, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 8, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 9, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 10, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 11, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 12, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 13, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 14, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 15, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 16, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 17, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 18, j is 7
https://www.hltv.org/ranking/teams/2022/november/7
x is 19, j is 7
https://www.hltv.org/ranking/teams/2022/december/5
x is 20, j is 5
https://www.hltv.org/ranking/teams/2022/december/5
x is 21, j is 5
Wall time: 2.34 s

In [43]:
urls

['https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/november',
 'https://www.hltv.org/ranking/teams/2022/december',
 'https://www.hltv.org/ranking/teams/2022/december']

In [41]:
if urls[20] != urls[19]:
        j=1
        print(j)
        while requests.get("{}/{}".format(site,j)).status_code != 200:
            j+=1
        final_url = "{}/{}".format(site,j)

1

In [108]:
if days[2] < 8:
            j=1
            while requests.get("{}/{}".format(site,j)).status_code != 200:
                j+=1
                final_url = "{}/{}".format(site,j)
            print(final_url)
            
        
elif days[2] < 15:
            j=8
            while requests.get("{}/{}".format(site,j)).status_code != 200:
                j+=1
                final_url = "{}/{}".format(site,j)
            print(final_url)

https://www.hltv.org/ranking/teams/2022/november/7

In [92]:
data

                team1              team2        date
0                ENCE           Vitality  2022-11-07
1                 BIG             fnatic  2022-11-07
2                MOUZ          Outsiders  2022-11-07
3       Natus Vincere    Bad News Eagles  2022-11-07
4              Sprout  Ninjas in Pyjamas  2022-11-07
5               FURIA                BIG  2022-11-06
6                FaZe    Bad News Eagles  2022-11-06
7              Heroic             Cloud9  2022-11-06
8              Spirit          Outsiders  2022-11-06
9                ENCE             fnatic  2022-11-06
10               MOUZ           Vitality  2022-11-06
11      Natus Vincere             Liquid  2022-11-06
12  Ninjas in Pyjamas          Outsiders  2022-11-06
13             Heroic             fnatic  2022-11-06
14               ENCE    Bad News Eagles  2022-11-06
15             Spirit              FURIA  2022-11-06
16      Natus Vincere             Cloud9  2022-11-06
17               FaZe           Vitality  2022-11-06
18             Sprout             Liquid  2022-11-05
19               MOUZ                BIG  2022-11-05

In [86]:
urls

{7: 'https://www.hltv.org/ranking/teams/2022/november',
 6: 'https://www.hltv.org/ranking/teams/2022/november',
 5: 'https://www.hltv.org/ranking/teams/2022/november'}

In [63]:
response = requests.get('https://www.hltv.org/ranking/teams/2022/november/7')

if response.status_code == 200:
    print('Web site exists')
else:
    print('Web site does not exist')

Web site exists

In [50]:
matches.append(2314214314112)

In [54]:
matches= [2359845, 2359846]

In [11]:
data = all_try[['team1','team2','date']]

In [68]:
data

                team1              team2        date
0                ENCE           Vitality  2022-11-07
1                 BIG             fnatic  2022-11-07
2                MOUZ          Outsiders  2022-11-07
3       Natus Vincere    Bad News Eagles  2022-11-07
4              Sprout  Ninjas in Pyjamas  2022-11-07
5               FURIA                BIG  2022-11-06
6                FaZe    Bad News Eagles  2022-11-06
7              Heroic             Cloud9  2022-11-06
8              Spirit          Outsiders  2022-11-06
9                ENCE             fnatic  2022-11-06
10               MOUZ           Vitality  2022-11-06
11      Natus Vincere             Liquid  2022-11-06
12  Ninjas in Pyjamas          Outsiders  2022-11-06
13             Heroic             fnatic  2022-11-06
14               ENCE    Bad News Eagles  2022-11-06
15             Spirit              FURIA  2022-11-06
16      Natus Vincere             Cloud9  2022-11-06
17               FaZe           Vitality  2022-11-06
18             Sprout             Liquid  2022-11-05
19               MOUZ                BIG  2022-11-05